@import "_variables.scss";

.image-parent{
    width: 60rem;
    height: 40rem;
}

.image-gallery{
    margin: 3rem;
    position:relative;
}

.photo{
    position: absolute;
    height:20rem;
    outline-offset: 1rem;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

.photo:hover{
    transform: scale(1.3);
    box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
    outline: 1rem solid color(blue);
    z-index: 2;
}

.image-gallery:hover .photo:not(:hover){
    transform: scale(0.8);
    opacity: 0.3;
}

.photo1{
    top: 10rem;
    left: 15%;
}

.photo2{
    top: 2rem;
    right: 0;
}

.photo3{
    top: -2rem;
    left: 0;
}